.botao-tarefa-salvar, .botao-tarefa-cancelar, .botao-tarefa{
    background-color:#000080;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 30px;
    padding: 0 10px;
    color: #fff;
    font-weight: bold;
}

.botao-menu:hover{
    background-color: #fff;
    color: #000;
}
.botao-tarefa-salvar:hover, .botao-tarefa-cancelar:hover, .botao-tarefa:hover{
    background-color: seagreen;
}

.formulario{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px ;
    grid-template-rows: 80px 80px 80px 80px 80px;
    justify-content: center;
}

.formulario > .botao-tarefa{
    grid-area: 4 / 2 / 4 / 4;
    margin-top: 20px;
    margin-right: 5px;
}

.formulario > .botao-tarefa-salvar{
    grid-area: 4 / 2 / 4 / 3;
    margin-top: 20px;
    margin-right: 5px;
}

.formulario > .botao-tarefa-cancelar{
    grid-area: 4 / 3 / 4 / 4;
    margin-top: 20px;
    margin-left: 5px;
}
.tarefa{
    grid-area: 1 / 2 / 1 / 4;
    margin-left: 3px;
    font-weight: bolder;
}
#titulo{
    border-radius: 8px;
    background-color: rgb(230, 227, 227);
    grid-area: 1 / 2 / 1 / 4;
    margin-top: 19px;
    font-size: 15px;
    margin-bottom: 5px;
}
.descricao{
    grid-area: 2 / 2 / 2 / 4;
    margin-left: 3px;
    font-weight: bolder;
}
#descricao{
    grid-area: 2 / 2 / 2 / 4;
    margin-top: 19px;
    font-size: 15px;
    border-radius: 8px;
    background-color: rgb(230, 227, 227);
    margin-bottom: 5px;
}

.data{
    margin-left: 3px;
    font-weight: bolder;
    grid-area: 3 / 2 / 3 / 4;
}
#data{
    grid-area: 3 / 2 / 3 / 4;
    border-radius: 8px;
    margin-top: 19px;
    font-size: 15px;
    background-color: rgb(230, 227, 227);
    margin-bottom: 5px;
}


@media (max-width: 900px ){
    .botao-menu{
        font-size: 13px;
    }
}

.titulo > h1{
    position: relative;
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

